flair==0.13.1
gensim==4.3.2
nltk==3.8.1
pyLDAvis==3.4.1
spacy==3.7.4
tensorflow==2.15.0
#tensorflow-gpu==2.6.3
tensorflow-cpu==2.15.0
torch==2.2.0
tqdm
transformers==4.37.2
tweepy==4.14.0
wordcloud==1.9.3